<!--Task Data Model should consist of these fields:-->
<!--Title, Description, Type, CreatedOn, Status-->

<form id="task-create-form" [formGroup]="taskCreateForm">
  <mat-form-field appearance="fill">
    <input formControlName="title" matInput type="text" class="input" id="Title" name="Title" placeholder="Title" required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input formControlName="description" matInput type="text" class="input" id="Description" name="Description" placeholder="Description" required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input formControlName="type" matInput type="text" class="input" id="Type" name="Type" placeholder="Type" required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input formControlName="status" matInput type="text" class="input" id="Status" name="Status" placeholder="Status" required/>
  </mat-form-field>

  <button mat-flat-button id="create-task-btn" (click)="createTask()" >Create task</button>
</form>
