<!--Task Data Model should consist of these fields:-->
<!--Title, Description, Type, CreatedOn, Status-->

<div id="task-create-div">
  <form class="flex flex-wrap">
    <mat-form-field appearance="fill">
      <input matInput type="text" class="input" id="Title" name="Title" placeholder="Title" required/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="text" class="input" id="Description" name="Description" placeholder="Description" required/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="text" class="input" id="Type" name="Type" placeholder="Type" required/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="date" class="input" id="CreatedOn" name="CreatedOn" required/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="text" class="input" id="Status" name="Status" placeholder="Status" required/>
    </mat-form-field>

    <div class="align-button-with-input">
      <button mat-flat-button id="create-task-btn" >Create task</button>
    </div>
  </form>
</div>
