#list-container {
  height: 100%;
  min-height: 100vh;
  width: auto;
}

#task-container {
  background-color: #202020;
  min-height: 75vh;
  height: 100%;
  border-radius: 10px;
  border-color: cyan;
  border-width: 2px;
  border-style: solid;
}

#list-title {
  color: white;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

#title-container {
  display: flex;
  justify-content: space-between;
}

#open-create-task-btn {
  margin-bottom: 0;
  height: 50px;
}

mat-card {
  color: white;
  border-radius: 0px;
  display: table;
  width: 100%;
  min-height: 5vh;
  table-layout: fixed;
}

mat-card:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

mat-card:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

mat-card-content {
  color: white;
  display: table-cell;
  text-align: left;
  padding: 10px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#title-card {
 background-color: #202020;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}

// fixes padding for 1st child of mat-card
.mat-mdc-card-content:first-child {
  padding-top: 0;
  padding-left: 1vw;
}

#delete-task-btn {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
